<!DOCTYPE html>
<html ng-app="Servicos">
<head>
    <meta charset="UTF-8">
    <title>Serviços</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
    <!-- lib necessária para a tradução -->
    <script data-require="angular.js@1.2.x" src="http://code.angularjs.org/1.2.4/i18n/angular-locale_pt-br.js" ></script>
    <script src="../js/aula8-Servicos.js"></script>
</head>
<body ng-controller="controllerServicos">
<ul>
    <h1>Estados e capitais</h1>

    <!--
        Sem a lib de Localização temos que especificar o
            formato de data do pais com a lib já é automático
        exe:
        <p>Data: {{data | date:'dd/MM/yyyy'}}</p>
    -->
    <!-- Com a lib -->
    <p>Data: {{data | date}}</p>

    <p>Filtrar: <input type="text" ng-model="filtro" /></p>

    <li ng-repeat="state in states | orderBy:'name' | filter:filtro" >
        <!-- Com a Lib-->
        {{state.name | uppercase}} . {{state.capital | lowercase}} - renda per capita:{{state.renda | currency}}
    </li>
</ul>
<form ng-submit="addState()" >
    <input ng-model="estado" type="text" placeholder="Digite um Estado">
    <input ng-model="capital" type="text" placeholder="Digite uma Capital">
    <input type="submit" value="Incluir">
</form>

</body>
</html>



