<html ng-app>
    <head>
        <meta charset="UTF-8">
        <title>Exemplo1 AngularJs</title>
    </head>
    <body>
        <nav ng-click="$event.preventDefault()">
            <a href="#" ng-click="ativo='Home'">Home</a>
            <a href="#" ng-click="ativo='Projetos'">Projetos</a>
            <a href="#" ng-click="ativo='Servicos'">Serviços</a>
            <a href="#" ng-click="ativo='Contato'">Contato</a>
        </nav>
        <p>click em um item do menu</p>
        <p>Item escolhido  {{ativo}}<b></b> </p>
    </body>
    <footer>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
        <script src="/js/exemplo1.js"></script>
    </footer>
</html>